{% extends 'basic.html' %}
{% block title %}
Internship
{% endblock title %}
{% block stylecss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock stylecss %}

{% block body %}

<div class="container mt-4">

<div class="row">

<div class="col-md-4"></div>

<div class="col-md-4">

<h3 class="text-warning bg-dark text-center p-3"> Contact Me for Internship.. </h3>

{% for message in messages  %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    
  </button>
</div>

{% endfor %}

<div class="card p-2">

  <form action="/internshipdetails" method="post">{% csrf_token %}

    <div class="form-group"
      <h5><span><i class="fa fa-user"></i> Full Name</span>
        <input type="text" class="form-control mb-3" name="name" required />
    </div>

    <div class="form-group"
    <h5><span><i class="bx bx-envelope"></i> Email</h5></span>
      <input type="text" class="form-control mb-3" name="email" required />
  </div>

  <div class="form-group"
  <h5><span><i class="fas fa-phone-alt"></i> Phone No.</h5></span>
    <input type="number" class="form-control mb-3" name="num" required />
</div>

<div class="form-group"
<h5><span><i class="fa fa-user"></i> Collaage Name </h5></span>
  <input type="text" class="form-control mb-3" name="cname" required /input>
</div>

<div class="form-group"
<h5><span><i class="fa fa-user"></i> Collaage Register num.. </h5></span>
  <input type="text" class="form-control mb-3" name="reg" required /input>
</div>

<div class="form-group"
<h5><span><i class="far fa-question-circle"></i> Recevied Offer Latter </h5></span>
  <input type="text" class="form-control mb-3" placeholder="Yes/No" name="OFL" required />
</div>

<div class="form-group"
<h5><span><i class="fa fa-user"></i> Start Date </h5></span>
  <input type="date" class="form-control mb-3" name="SD" required /input>
</div>

<div class="form-group"
<h5><span><i class="fa fa-user"></i> End Date </h5></span>
  <input type="date" class="form-control mb-3" name="ED" required /input>
</div>

<div class="form-group"
<h5><span><i class="far fa-question-circle"></i> Do you want Project/Report </h5></span>
  <input type="text" class="form-control mb-3" placeholder="Yes/No" name="PR" required /input>
</div>



           <div class="d-grid gap-2">
             <button class="btn btn-dark" type="submit">Submit</button>
           </div>
           
  
    </div>
  </form>
</div>


<div class="col-md-4"></div>
<div class="col-md-4"></div>    
</div>


</div>



{% endblock body %}

